html {
    background-color: rgba(218, 218, 218, 0.822);
    color: rgba(0, 0, 0, 0.747);
    font-family: sans-serif, Arial, 'Times New Roman';
    line-height: 1.2;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: solid;
    border-color: rgb(107, 19, 19);
    height: 100%;
    width: 330px;
    min-width: 280px;
}

#main-header {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 25px;
    padding-left: 22px;
    text-align: left;
}

#navbar ul {
    height: 80%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: rgb(107, 19, 19);
    border-top: 3px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.747);
    font-size: 1.35em;
    padding: 25px 50px;
}

#main-doc {
    position: absolute;
    margin-left: 330px;
    padding: 20px;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    color:rgba(0, 0, 0, 0.747);
}

.main-section {
    font-size: 0.9rem;
    line-height: 1.5;
}

.main-section article {
    margin: 22px;
}

.main-section ul li {
    font-size: 0.85rem;
}

code {
    margin-left: 25px;
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
}